---
layout: default
title: About Us
slogan: 'Everything you need to know about us :)'
menu_order: 2
directors:
  - role: Director
    name: Brenda Marsh
    director_img_path: /images/directors/Brenda Marsh-edited.jpg
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
  - role: Director
    name: Emily Dock
    director_img_path: /images/directors/Emily Dock-edited.jpg
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
  - role: Director
    name: Shelia Hood
    director_img_path: /images/directors/sheila hood.jpg
    description: 'Shelia directs the business operations of Trinity Church, overseeing Financial operations, Facility construction, operation, and maintenance, Human Resource activities, Communications, Information Technology and Asset Protection.'
  - role: Mayor
    name: Rob Franke
    director_img_path: /images/directors/mayor rob franke.jpg
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
_comments:
  director_img_path: 450 x 550
---

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4 class="editable">Why choose <span>Us</span>.</h4>
        </div>

        <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4 class="editable">Our <span>Mission</span>.</h4>
        </div>

        <p class="editable">Providing residency for women and their newborn children, the facility offers educational and training classes, as well as necessities such as food, clothing, counseling, mentoring, case management, and life-skills training.</p>

      </div>

      <div class="col_one_third col_last">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4 class="editable">What we <span>Do</span>.</h4>
        </div>

        <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

    </div>

    <div class="container clearfix">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JLKP-CmtIMw" frameborder="0" allowfullscreen></iframe>
      <div class="clear"></div>
      <div class="line"></div>
    </div>


    <div class="row clearfix">
      {% for d in page.directors %}
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{{ d.director_img_path }}" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>{{ d.name }}</h4><span>{{ d.role }}</span></div>
              <div class="team-content">
                <p>{{ d.description }}</p>
              </div>
              {% if d.facebook != '' and d.facebook != nil%}
                <a href="http://facebook.com/{{ d.facebook }}" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
              {% endif %}

              {% if d.twitter != '' and d.twitter != nil%}
                <a href="http://twitter.com/{{ d.twitter }}" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
              {% endif %}

              {% if d.google != '' and d.google != nil%}
                <a href="https://plus.google.com/u/0/+{{ d.google }}" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

</section>
