---
layout: default
title: About Us
slogan: 'Everything you need to know about us :)'
menu_order: 2
directors:
  - role: Director
    name: Brenda Marsh
    director_img_path: /images/directors/Brenda Marsh-edited.jpg
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
  - role: Director
    name: Emily Dock
    director_img_path: /images/directors/Emily Dock-edited.jpg
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
  - role: Board Treasurer
    name: Shelia Hood
    director_img_path: /images/directors/sheila hood.jpg
    description: "Shelia directs the business operations of Trinity Church, overseeing Financial operations, Facility construction, operation, and maintenance, Human Resource activities, Communications, Information Technology and Asset Protection. \nShelia brings 24 years experience in the corporate arena to Trinity where she was responsible for managing multi-million dollar capital expenses, and budgeting as well as directing procedures and operations for Human Resources and Facilities. In 1995 she felt the call of God to transition to Trinity Church to serve as the Administrator. Shelia believes all of her previous business training and experience was merely preparation for being a part of God’s plan at Trinity Church.\nShelia and Jim Hood have been married for many years, have four children and live in Duncanville with an ever changing menagerie of animals."
  - role: Mayor
    name: Rob Franke
    director_img_path: /images/directors/mayor rob franke.jpg
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
_comments:
  director_img_path: 450 x 550
---

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4 class="editable"><span>THE MISSION.&nbsp;</span></h4>
        </div>

        <p class="editable">Hope Mansion exists to break the chain of hopelessness by providing women in crisis pregnancy a loving, structured residential environment, as well the necessary time, resources, and support for them and their babies, in order to become productive, well-balanced citizens.</p>

      </div>

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4 class="editable"><span>THE NEED.</span></h4>
        </div>

        <p class="editable">Currently, the physical and psychological consequences of abortion, abandonment, abuse, loneliness, and poverty are growing in unprecedented measure. Without resources, education, life skills, knowledge of child rearing, or a spiritual foundation, women will likely return to old friends, former ways to life, and eventually more unplanned pregnancies.</p>

      </div>

      <div class="col_one_third col_last">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4 class="editable"><span>THE OUTCOME.</span></h4>
        </div>

        <p class="editable">Hope Mansion has been helping single, pregnant women in need of housing and hope since 2012. &nbsp;Of those women:<br />- 100% were homeless<br />- 65% moved forward in their education<br />- 91% chose single parenting<br />- 9% chose adoption</p>

      </div>

    </div>

    <div class="container clearfix">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JLKP-CmtIMw" frameborder="0" allowfullscreen></iframe>
      <div class="clear"></div>
      <div class="line"></div>
    </div>


    <div class="row clearfix">
      {% for d in page.directors %}
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{{ d.director_img_path }}" alt="John Doe" />
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>{{ d.name }}</h4><span>{{ d.role }}</span></div>
              <div class="team-content">
                <p>{{ d.description }}</p>
              </div>
              {% if d.facebook != '' and d.facebook != nil%}
                <a href="http://facebook.com/{{ d.facebook }}" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
              {% endif %}

              {% if d.twitter != '' and d.twitter != nil%}
                <a href="http://twitter.com/{{ d.twitter }}" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
              {% endif %}

              {% if d.google != '' and d.google != nil%}
                <a href="https://plus.google.com/u/0/+{{ d.google }}" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

</section>
