---
layout: default
title: Home
menu_order: 1
button_name: A Night of Hope Gala 2016
button_link: /events/thiago-and-dudu-event.html
slides:
  - title: Testing the Title
    sub_title: This house brings love to womens and their newborns.
    img_path: /images/slider/IMG_0802-edited.jpg
    text_white: true
    text_center: true
  - title: Black Text Example
    sub_title: For brither backgrounds
    img_path: /images/slider/3.jpg
    text_white: false
    text_center: true
  - title: Welcome to the Mansion
    sub_title: This house brings love to womens and their newborns.
    img_path: /images/slider/header.jpg
    text_white: true
    text_center: false
    button_link: /about
    button_name: MORE
---

<div class="content-wrap">

  <div class="container clearfix">

    <div class="col_one_third">
      <div class="feature-box fbox-border fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-heart i-alt"></i></a>
        </div>
        <h3 class="editable">pregnant?<br /><br /><strong></strong></h3>
        <p class="editable">I&rsquo;m Pregnant. Now What?</p>
      </div>
    </div>

    <div class="col_one_third">
      <div class="feature-box fbox-border fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="icon-world i-alt"></i></a>
        </div>
        <h3 class="editable">testimonies</h3>
        <p class="editable">Great testimonies</p>
      </div>
    </div>

    <div class="col_one_third col_last">
      <div class="feature-box fbox-border fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-thermometer i-alt"></i></a>
        </div>
        <h3 class="editable">our program</h3>
        <p class="editable">Hope Mansion exists to break the chain of generational poverty and hopelessness by providing women in crisis pregnancy a loving, structured, residential environment, as well as necessary time, resources, and support for them and their babies to become productive, well-balanced citizens.</p>
      </div>
    </div>

    <div class="clear"></div>

    <div class="col_one_third nobottommargin">
      <div class="feature-box fbox-border fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-sun i-alt"></i></a>
        </div>
        <h3 class="editable">get involved</h3>
        <p class="editable">Prayer Partners<br />Volunteers<br />Financial Partners</p>
      </div>
    </div>

    <div class="col_one_third nobottommargin">
      <div class="feature-box fbox-border fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="icon-tint i-alt"></i></a>
        </div>
        <h3 class="editable">eligibility requirements</h3>
        <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>

    <div class="col_one_third nobottommargin col_last">
      <div class="feature-box fbox-border fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="icon-home i-alt"></i></a>
        </div>
        <h3 class="editable">Faq's</h3>
        <p class="editable">Frequently Asked Questions (FAQs)</p>
      </div>
    </div>

    <div class="clear"></div>

  </div>

  <div class="promo topmargin-lg promo-border promo-full">
    <div class="container clearfix">
      <h3 class="editable">Let's make this part the donation call?</span></h3>
      <span class="editable">Be part of this ministry</span>
      <a href="/contact" class="button button-xlarge button-rounded">Donate</a>
    </div>
  </div>

  <div class="container clearfix">

    <div class="fancy-title title-center title-dotted-border topmargin">
      <h3>Events</h3>
    </div>

    <div id="oc-events" class="owl-carousel events-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-sm="1" data-items-md="2" data-items-lg="2">

      {% capture now_unix %} {{ 'now' | date: '%s' }} {% endcapture %}

      {% for event in site.events reversed %}

        {% capture event_date_unix %} {{ event.start_at_date | date: '%s' }} {% endcapture %}

        {% if event_date_unix >= now_unix  %}
          <div class="oc-item">
            <div class="ievent clearfix">
              <div class="entry-image">
                <a href="{{ event.url }}">
                  <img src="{{ event.header_imgthumb_path }}" />
                  <div class="entry-date">{{ event.start_at_date | date: "%d" }}<span>{{ event.start_at_date | date: "%b" }}</span></div>
                </a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
                </div>
                <ul class="entry-meta clearfix">
                  <li><a href="#"><i class="icon-time"></i> {{ event.start_time }} - {{ event.end_time }}</a></li>
                  <li><a href="#"><i class="icon-map-marker2"></i> {{ event.location }}</a></li>
                </ul>
                <div class="entry-content">
                  <p>{{ event.excerpt | truncate: 100 }}</p>
                  {% if event.price_link %}
                    <a href="{{ event.price_link }}" class="btn btn-default">Buy Tickets</a>
                  {% endif %}
                  <a href="{{ event.url }}" class="btn btn-danger">Read More</a>
                </div>
              </div>
            </div>
          </div>

        {% endif %}

      {% endfor %}

    </div>

    <div class="fancy-title title-center title-dotted-border topmargin">
      <h3>News</h3>
    </div>

    <div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="4">

      {% for post in site.posts limit: 6 %}
        <div class="oc-item">
          <div class="ipost clearfix">
            <div class="entry-image">
              <a href="{{ post.header_img_path}}" data-lightbox="image"><img class="image_fade" src="{{ post.header_imgthumb_path }}" /></a>
            </div>
            <div class="entry-title">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </div>
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i> {{ post.date | date_to_string }} {{ post.date | date: '%r' }}</li>
              <!-- <li><a href="blog&#45;single.html#comments"><i class="icon&#45;comments"></i> 13</a></li> -->
              <li><a href="#"><i class="icon-camera-retro"></i></a></li>
            </ul>
            <div class="entry-content">
              <p>{{ post.excerpt }}</p>
              <a href="{{ post.url }}" class="more-link">Read More</a>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>

    <div class="clear"></div>
    <div class="line"></div>

    <h4 class="center">Meet our Sponsors</h4>

    {% include sponsors.html %}

  </div>

  <a class="button button-full center tright">
    <div class="container clearfix editable">
      Providing residency for <strong>women</strong> and their <strong>newborn.</strong>
    </div>
  </a>

  <div id="related-portfolio" class="owl-carousel owl-carousel-full portfolio-carousel portfolio-notitle portfolio-nomargin footer-stick carousel-widget" data-margin="0" data-nav="true" data-pagi="false" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="4">

    {% for r in site.data.residents %}
      <div class="oc-item">
        <div class="iportfolio">
          <div class="portfolio-image">
            <a href="portfolio-single.html">
              <img src="{{ r.img_thumb_path }}" />
            </a>
            <div class="portfolio-overlay">
              <a href="{{ r.img_path }}" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
            </div>
          </div>
          <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">{{ r.name }}</a></h3>
            <span>{{ r.other_info }}</span>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

</div>
