---
layout: default
title: What we do
slogan: 'Pray, Serve, Love'
header_img_path: /uploads/what_we_do_slide.jpg
menu_order: 3
slides:
  - img_path: ../images/about/4.jpg
  - img_path: ../images/about/5.jpg
  - img_path: ../images/about/6.jpg
  - img_path: ../images/about/7.jpg
pray_gallery:
  - g_img_path:
    g_img_thumb_path:
serve_gallery:
  - g_img_path:
    g_img_thumb_path:
serve_gallery:
  - g_img_path:
    g_img_thumb_path:
_comments:
  header_img_path: 1440 x 420
  img_path: 820 x 500
---

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="editable">
        <p>People from all walks of life claim Cedar Hill as their place to live, work, and/or play. Our city is centered by the best in politics, economics, government, churches, educational institutions and social structures.  But our city also has a line that separates the rich from the poor, the strong from the weak, the haves from the have nots.  That line may be a street, a sidewalk, a train track or a creek. It is a line that must be crossed if we are to see our city transformed.</p>
        <p>The heart of Transformation Vision is to cross the lines that separate us and serve all of those represented in our city and community.  Meeting the needs of the community not only makes a significant difference in people’s lives, but it also reveals the power of the Gospel to affect change in their hearts. We believe God’s heart for the broken and downtrodden can be expressed most powerfully in our city by our willingness to partner with the Kingdom of God at work here.</p>
        <p>Transformation Vision seeks to engage the city on every level – spiritually, socially, and economically – for individuals, neighborhoods and communities. In order to do this, we have a three part strategy by which we seek to effect change:</p>
      </div>

      <div class="col_full">
        <div class="heading-block center nobottomborder">
          <h2 class="editable">We Pray. We Serve. We Love.</h2>
        </div>

        <div class="fslider" data-pagi="false" data-animation="fade">
          <div class="flexslider">
            <div class="slider-wrap">
              {% for s in page.slides %}
                <div class="slide"><a href="#"><img src="{{s.img_path}}" alt="Image" /></a></div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>

      <div class="editable">
        <p>We believe very strongly in the power of prayer, serving the community through acts of kindness and loving those who are less fortunate.  By praying for, serving and loving those in our community, we are following the same strategy Jesus used to reach the world. That’s why it’s so powerful.</p>
        <p>As we become committed to loving and serving the city and community where God has placed us, we will begin to see God’s kingdom advanced. If we understand the heart of God and the power of the Gospel to change lives, we can have hope for our city, no matter how dark or hopeless it might seem. The mission of God has always been a mission of restoration and redemption. He redeems lives, families and cultures.</p>
        <p>God loves our city. We love our city.  Because of this, we long to be an influential people and to lead influential businesses, churches, governments and beyond to insure the people that make up our city are afforded the opportunity to see His love in action. We will engage the brokenness and the be the peaceful presence that our world is longing for.</p>
        <p>We can’t do everything, but we can do something.  And it all starts here.</p>
      </div>

      <div class="clear"></div><div class="line"></div>

      <div class="col_full">

        <div class="col_two_fifth">
          <img class="editable" src="../images/portfolio/1/1.jpg" alt="Image" style="height: 100%;" />
        </div>

        <div class="col_three_fifth col_last">
          <div class="heading-block">
            <h3 class="editable">Pray</h3>
            <!-- <span class="editable">We pray!</span> -->
          </div>

          <p class="editable">A city can only be transformed when it’s leaders embrace the necessity of God’s involvement in the process.  We believe that God wants to transform and build our city for His glory; to establish His presence in every area of our community - schools, neighborhoods, businesses, government, and churches.</p>

          <p class="editable">We pray because our vision for the city exceeds our abilities.  We pray because through prayer He gives strategies to accomplish the tasks before us. We pray to invoke His hand of blessing and protection over the people of this city.</p>
        </div>

        <div class="col_full clearfix">

          <div class="masonry-thumbs col-4" data-big="4" data-lightbox="gallery">
            {% for g in page.pray_gallery %}
              <a href="{{ g.g_img_path }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ g.g_img_thumb_path }}" alt="Gallery Thumb 1"></a>
            {% endfor %}
          </div>

        </div>

      </div>

      <div class="clear"></div><div class="line"></div>

      <div class="col_full">

        <div class="col_three_fifth col_last">
          <div class="heading-block">
            <h3 class="editable">Serve</h3>
            <!-- <span class="editable">We pray!</span> -->
          </div>

          <p class="editable">We can contribute to the wellbeing and heart of the city by involving ourselves in the soil of it.  We believe people will be more likely to listen to the message of the Gospel because we have invested ourselves deeply into the city.  By meeting the needs of others, we can move from being among the many who are recognized as problem-finders to being the ones who are recognized as problem-solvers.</p>
          <p class="editable">In helping our city in practical ways we are fulfilling the words of Jesus:</p> 
          <p class="editable">“You are the light of the world. A town built on a hill cannot be hidden. Neither do people light a lamp and put it under a bowl. Instead they put it on its stand, and it gives light to everyone in the house. In the same way, let your light shine before others, that they may see your good deeds and glorify your Father in heaven.”</p>
        </div>

        <div class="col_two_fifth">
          <img class="editable" src="../images/portfolio/1/1.jpg" alt="Image" style="height: 100%;" />
        </div>

        <div class="col_full clearfix">

          <div class="masonry-thumbs col-4" data-big="4" data-lightbox="gallery">
            {% for g in page.serve_gallery %}
              <a href="{{ g.g_img_path }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ g.g_img_thumb_path }}" alt="Gallery Thumb 1"></a>
            {% endfor %}
          </div>

        </div>

      </div>

      <div class="col_full">

        <div class="col_two_fifth">
          <img class="editable" src="../images/portfolio/1/1.jpg" alt="Image" style="height: 100%;" />
        </div>

        <div class="col_three_fifth col_last">
          <div class="heading-block">
            <h3 class="editable">Love</h3>
            <!-- <span class="editable">We pray!</span> -->
          </div>

          <p class="editable">We have a mission to establish hope throughout our city and beyond. Establishing this hope starts when we begin to love our city the way Jesus does. That means caring about people who live here - their suffering and pain, heartaches and trials, the oppression they experience, and the injustice they bear. If we are to fulfill the greatest commandment God gave to mankind - <strong> to love the Lord your God with all of your heart, soul and mind, and to love your neighbor as yourself</strong> - then it all starts with how we love.</p>
          <p class="editable">Loving the city is about bringing the influence of the kingdom of God into it. We are called to live as members of God’s Kingdom in the midst of the city, driven by our love for God and the love we have experienced from Him, and compelled by our love for others.</p>
        </div>

        <div class="col_full clearfix">

          <div class="masonry-thumbs col-4" data-big="4" data-lightbox="gallery">
            {% for g in page.love_gallery %}
              <a href="{{ g.g_img_path }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ g.g_img_thumb_path }}" alt="Gallery Thumb 1"></a>
            {% endfor %}
          </div>

        </div>

      </div>


    </div>

  </div>

</section>
