---
layout: default
title: News
slogan: "Our Latest News"
menu_order: 4
---

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Posts
      ============================================= -->
      <div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">


        {% for post in paginator.posts %}
          <div class="entry clearfix">
            <div class="entry-image">
              <a href="{{ post.header_img_path}}" data-lightbox="image"><img class="image_fade" src="{{ post.header_imgthumb_path }}" ></a>
            </div>
            <div class="entry-title">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </div>
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i> {{ post.date | date_to_string }} </li>
              <!-- <li><a href="blog&#45;single.html#comments"><i class="icon&#45;comments"></i> 13</a></li> -->
              <li><a href="#"><i class="icon-camera-retro"></i></a></li>
            </ul>
            <div class="entry-content">
              <p>{{ post.excerpt | truncatewords: 40 }}</p>
              <a href="{{ post.url }}"class="more-link">Read More</a>
            </div>
          </div>

        {% endfor %}

      </div><!-- #posts end -->

      {% if paginator.total_pages > 1 %}
        <ul class="pagination nobottommargin">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path}}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><a href="#">{{ page }}</a></li>
            {% elsif page == 1 %}
              <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
              <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path}}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
          {% endif %}
        </ul>

      {% endif %}

    </div>

  </div>

</section>
