<div class="col_full common-height {{include.class}}" style="margin-bottom: 0;">

  <div class="col-md-4 dark col-padding ohidden" style="background-color: rgba(222, 46, 73, 0.7);">
    <div>
      <h3 class="uppercase" style="font-weight: 600;">Online</h3>
      <p class="editable" style="line-height: 1.8;">Reputation You Can Trust &ndash; More merchants trust Authorize.Net than any other payment gateway.</p>
      <form name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx">
        <input type="hidden" name="LinkId" value="ff5d00ec-7fab-4c21-a852-7ffb89d971db" />
        <button class="button button-border button-light button-rounded button-reveal tright uppercase nomargin" formtarget="_blank" type="submit">Donate</button>
      </form>
      <i class="icon-credit bgicon"></i>
    </div>
  </div>

  <div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
    <div>
      <h3 class="uppercase" style="font-weight: 600;">Text to Give</h3>
      <p class="editable" style="line-height: 1.8;">Text: "hopemansion"<br />&nbsp;to: 50155<br />and follow the simple instructions</p>
      <i class="icon-mobile bgicon"></i>
    </div>
  </div>

  <div class="col-md-4 dark col-padding ohidden" style="background-color: #888888;">
    <div>
      <h3 class="uppercase editable" style="font-weight: 600;">MAIL TO:</h3>
      <p class="editable" style="line-height: 1.8;">Hope Mansion<br />1595 Mt. Lebanon Road<br />Cedar Hill, TX 75104</p>
      <i class="icon-line-mail bgicon"></i>
    </div>
  </div>

  <div class="clear"></div>

</div>
