<footer id="footer">

  <!-- <div class="container"> -->
  <!--  -->
  <!--   <!&#45;&#45; Footer Widgets -->
  <!--   ============================================= &#45;&#45;> -->
  <!--   <div class="footer&#45;widgets&#45;wrap clearfix"> -->
  <!--  -->
  <!--     <div class="col_two_third"> -->
  <!--  -->
  <!--       <div class="col_three_fifth"> -->
  <!--  -->
  <!--         <div class="widget clearfix"> -->
  <!--  -->
  <!--           <img src="/images/footer&#45;logo.svg" alt="" class="footer&#45;logo" /> -->
  <!--  -->
  <!--           <p class="editable">You are always <strong>Welcome</strong> in our <strong>Mansion!</strong> Please, visit us!</p> -->
  <!--  -->
  <!--           <div style="background: url('/images/world&#45;map.png') no&#45;repeat center center; background&#45;size: 100%;"> -->
  <!--             <address> -->
  <!--               <strong>Headquarters:</strong><br /> -->
  <!--               {{ site.data.general.address }} -->
  <!--             </address> -->
  <!--             <abbr title="Phone Number"><strong>Phone:</strong></abbr> {{ site.data.general.phone }}<br /> -->
  <!--             <abbr title="Email Address"><strong>Email:</strong></abbr> {{ site.data.general.email }} -->
  <!--           </div> -->
  <!--  -->
  <!--         </div> -->
  <!--  -->
  <!--       </div> -->
  <!--  -->
  <!--       <div class="col_one_fifth"> -->
  <!--  -->
  <!--         <div class="widget widget_links clearfix"> -->
  <!--  -->
  <!--           <h4>More</h4> -->
  <!--  -->
  <!--           <ul> -->
  <!--             {% assign pages_sorted = site.pages | sort: "menu_order" %} -->
  <!--             {% for my_page in pages_sorted %} -->
  <!--               {% if my_page.title %} -->
  <!--                 {% unless my_page.menu_order == '' or my_page.menu_order == nil %} -->
  <!--                   <li class="current"><a href="{{ my_page.url | prepend: site.baseurl }}"><div>{{ my_page.title }}</div></a></li> -->
  <!--                 {% endunless %} -->
  <!--               {% endif %} -->
  <!--             {% endfor %} -->
  <!--           </ul> -->
  <!--  -->
  <!--         </div> -->
  <!--  -->
  <!--       </div> -->
  <!--  -->
  <!--     </div> -->
  <!--  -->
  <!--     <div class="col_one_third col_last"> -->
  <!--  -->
  <!--       {% if site.data.general.womens_blessed != nil and site.data.general.babies_blessed != nil %} -->
  <!--  -->
  <!--         <div class="widget clearfix" style="margin&#45;bottom: &#45;20px;"> -->
  <!--  -->
  <!--           <div class="row"> -->
  <!--  -->
  <!--             <div class="col&#45;md&#45;6 text&#45;center bottommargin&#45;sm"> -->
  <!--               <div class="counter counter&#45;small"><span data&#45;from="100" data&#45;to="{{ site.data.general.womens_blessed }}" data&#45;refresh&#45;interval="50" data&#45;speed="2000" data&#45;comma="true"></span></div> -->
  <!--               <h5 class="nobottommargin">Womens Blessed</h5> -->
  <!--             </div> -->
  <!--  -->
  <!--             <div class="col&#45;md&#45;6 text&#45;center bottommargin&#45;sm"> -->
  <!--               <div class="counter counter&#45;small"><span data&#45;from="100" data&#45;to="{{ site.data.general.babies_blessed }}" data&#45;refresh&#45;interval="50" data&#45;speed="2000" data&#45;comma="true"></span></div> -->
  <!--               <h5 class="nobottommargin">Babies Saved</h5> -->
  <!--             </div> -->
  <!--  -->
  <!--           </div> -->
  <!--  -->
  <!--         </div> -->
  <!--  -->
  <!--       {% endif %} -->
  <!--  -->
  <!--       <div class="widget subscribe&#45;widget clearfix"> -->
  <!--         <h5 class="editable"><strong>Subscribe</strong> to our newsletter to get Important news, events and etc.</h5> -->
  <!--         <a href="https://visitor.r20.constantcontact.com/manage/optin?v=001Jt_6JQUUtuJLbURoKQeX3xo9fUosfztvwpbifbq5WyGQP6V8dwWaNA08oNtrIOeQhK132av4uSJ9WsJkgQFwOTstA78htWjydpue2xzX4fA%3D" target="_tagert" class="col&#45;md&#45;12 button button&#45;rounded button&#45;reveal button&#45;border text&#45;center"><i class="icon&#45;email2"></i><span>Subscribe</span></a> -->
  <!--       </div> -->
  <!--  -->
  <!--       <div class="widget clearfix" style="margin&#45;bottom: &#45;20px;"> -->
  <!--  -->
  <!--         <div class="row"> -->
  <!--  -->
  <!--           <div class="col&#45;md&#45;4 clearfix bottommargin&#45;sm"> -->
  <!--             <a href="http://facebook.com/{{ site.data.general.facebook }}" target="_target" class="social&#45;icon si&#45;dark si&#45;colored si&#45;facebook nobottommargin" style="margin&#45;right: 10px;"> -->
  <!--               <i class="icon&#45;facebook"></i> -->
  <!--               <i class="icon&#45;facebook"></i> -->
  <!--             </a> -->
  <!--             <a href="http://facebook.com/{{ site.data.general.facebook }}" target="_target"><small style="display: block; margin&#45;top: 3px;"><strong>Like us</strong></small></a> -->
  <!--           </div> -->
  <!--           <div class="col&#45;md&#45;4 clearfix"> -->
  <!--             <a href="http://twitter.com/{{ site.data.general.twitter }}" target="_target" class="social&#45;icon si&#45;dark si&#45;colored si&#45;twitter nobottommargin" style="margin&#45;right: 10px;"> -->
  <!--               <i class="icon&#45;twitter"></i> -->
  <!--               <i class="icon&#45;twitter"></i> -->
  <!--             </a> -->
  <!--             <a href="http://twitter.com/{{ site.data.general.twitter }}" target="_target"><small style="display: block; margin&#45;top: 3px;"><strong>Follow us</strong></small></a> -->
  <!--           </div> -->
  <!--           <div class="col&#45;md&#45;4 clearfix"> -->
  <!--             <a href="http://instagram.com/{{ site.data.general.instagram }}" target="_target" class="social&#45;icon si&#45;dark si&#45;colored si&#45;instagram nobottommargin" style="margin&#45;right: 10px;"> -->
  <!--               <i class="icon&#45;instagram"></i> -->
  <!--               <i class="icon&#45;instagram"></i> -->
  <!--             </a> -->
  <!--             <a href="http://instagram.com/{{ site.data.general.instagram }}" target="_target"><small style="display: block; margin&#45;top: 3px;"><strong>Follow us</strong></small></a> -->
  <!--           </div> -->
  <!--  -->
  <!--         </div> -->
  <!--  -->
  <!--       </div> -->
  <!--  -->
  <!--     </div> -->
  <!--  -->
  <!--   </div><!&#45;&#45; .footer&#45;widgets&#45;wrap end &#45;&#45;> -->
  <!--  -->
  <!-- </div> -->

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half editable">
        <img src="{{ "/images/footer-logo.svg" | prepend: site.baseurl }}" alt="Transformation Vision" class="footer-logo">

        Copyrights &copy; 2016 All Rights Reserved by Hope Mansion Residential Group Home.<br />
      </div>

      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          {% assign pages_sorted = site.pages | sort: "menu_order" %}
          {% for my_page in pages_sorted %}
            {% unless my_page.url contains 'page' or my_page.title == nil %}
              {% unless my_page.menu_order == '' or my_page.menu_order == nil %}
                <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                {% if forloop.last %}
                {% else %}
                  /
                {% endif %}
              {% endunless %}
            {% endunless %}
          {% endfor %}
        </div>

        <!-- <div class="fright clearfix"> -->
        <!--   {% if site.data.general.facebook != '' and site.data.general.facebook != nil %} -->
        <!--     <a href="http://facebook.com/{{ site.data.general.facebook }}" target="_target" class="social&#45;icon si&#45;small si&#45;borderless si&#45;facebook"> -->
        <!--       <i class="icon&#45;facebook"></i> -->
        <!--       <i class="icon&#45;facebook"></i> -->
        <!--     </a> -->
        <!--   {% endif %} -->
        <!--  -->
        <!--   {% if site.data.general.twitter != '' and site.data.general.twitter != nil %} -->
        <!--     <a href="http://twitter.com/{{ site.data.general.twitter }}" target="_target" class="social&#45;icon si&#45;small si&#45;borderless si&#45;twitter"> -->
        <!--       <i class="icon&#45;twitter"></i> -->
        <!--       <i class="icon&#45;twitter"></i> -->
        <!--     </a> -->
        <!--   {% endif %} -->
        <!--  -->
        <!--   {% if site.data.general.instagram != '' and site.data.general.instagram != nil %} -->
        <!--     <a href="http://instagram.com/{{ site.data.general.instagram }}" target="_target" class="social&#45;icon si&#45;small si&#45;borderless si&#45;instagram"> -->
        <!--       <i class="icon&#45;instagram"></i> -->
        <!--       <i class="icon&#45;instagram"></i> -->
        <!--     </a> -->
        <!--   {% endif %} -->
        <!--  -->
        <!-- </div> -->

        <div class="clear"></div>

        <i class="icon-envelope2"></i> {{ site.data.general.email }} <span class="middot">&middot;</span> <i class="icon-headphones"></i> {{ site.data.general.phone }}
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer>

<div id="gotoTop" class="icon-angle-up"></div>
