<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="stretched dark">

    <div id="wrapper" class="clearfix">

      {% include header.html %}

      {% if page.title == 'Home' %}

        <section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix" data-loop="true" data-autoplay="4000">

          <div class="slider-parallax-inner">

            <div class="swiper-container swiper-parent">
              <div class="swiper-wrapper">

                {% for s in page.slides %}
                  <div class="swiper-slide {% if s.text_white == true %}dark{% endif %}" style="background-image: url('{{ s.img_path }}'); background-position: center top;">
                    <div class="container clearfix">
                      <div class="slider-caption {% if s.text_center == true %}slider-caption-center{% endif %}">
                        <h2 data-caption-animate="fadeInUp">{{ s.title }}</h2>
                        <p data-caption-animate="fadeInUp" data-caption-delay="200">{{ s.sub_title }}</p>

                        {% if s.button_link != nil %}
                          <a href="{{ s.button_link }}" data-caption-animate="fadeInUp" data-caption-delay="300" class="button button-border {% if s.text_white == true %}button-light{% endif %} button-rounded button-reveal tright button-large topmargin hidden-xs"><i class="icon-angle-right"></i><span>{{ s.button_name }}</span></a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}

              </div>
              <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
              <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
              <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
            </div>

          </div>

      </section>

      {% else %}
        <section id="page-title" class="page-title-center page-title-parallax page-title-dark" style="background-image: url('{{page.header_img_path}}'); padding: 120px 0;" data-stellar-background-ratio="0.3">

          <div class="container clearfix">
            <h1>{{ page.title }}</h1>
            {% if page.slogan %}
              <span>{{ page.slogan }}</span>
            {% endif %}

            {% include breadcrumbs.html %}
          </div>

        </section>

      {% endif %}

      <!-- Content
      ============================================= -->
      <section id="content" data-cms-content-wrapper="/_layouts/default.html">
        {{ content }}
      </section><!-- #content end -->

    </div>

    {% include footer.html %}


     <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>

    <script>
      $(function() {
        $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
      });
    </script>

    {% if page.location %}
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBa56I09z5IEq6zv-o7PHW6lRt865wVjUA"></script>
      <script type="text/javascript" src="/js/jquery.gmap.js"></script>

      <script type="text/javascript">

        jQuery('#google-map').gMap({
          address: "{{ page.location }}",
          maptype: 'ROADMAP',
          zoom: 14,
          markers: [
            {
              address: "{{ page.location }}",
              icon: {
                image: "/images/icons/map-icon-red.png",
                iconsize: [32, 39],
                iconanchor: [32,39]
              }
            }
          ],
          doubleclickzoom: false,
          controls: {
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: false,
            streetViewControl: false,
            overviewMapControl: false
          }
        });

      </script>

    {% endif %}

    {% if page.start_at_date %}
      <script type="text/javascript">
        function am_pm_to_hours(time) {
            var hours = Number(time.match(/^(\d+)/)[1]);
            var minutes = Number(time.match(/:(\d+)/)[1]);
            var AMPM = time.match(/\s(.*)$/)[1];
            if (AMPM == "pm" && hours < 12) hours = hours + 12;
            if (AMPM == "am" && hours == 12) hours = hours - 12;
            var sHours = hours.toString();
            var sMinutes = minutes.toString();
            if (hours < 10) sHours = "0" + sHours;
            if (minutes < 10) sMinutes = "0" + sMinutes;
            return (sHours +':'+sMinutes);
        }

        jQuery(document).ready( function($) {
          var time = am_pm_to_hours('{{ page.start_time }}').split(':');
          var eventStartDate = new Date({{ page.start_at_date | date: "%Y" }}, {{ page.start_at_date | date: "%m" }} - 1, {{ page.start_at_date | date: "%d" }}, time[0], time[1]);
          $('#event-countdown').countdown({until: eventStartDate});
        });
      </script>
    {% endif %}

    {% if page._is_contact == true %}
      <script type="text/javascript">
        function getFormDataString(formEl) {
          var formData = new FormData(formEl),
              data = [];

          for (var keyValue of formData) {
            data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
          }

          return data.join("&");
        }


        //   form.submit(function(event) {
        //       event.preventDefault();
        //       $('.form-process').hide();
        //       $('.contact-form-result').text("{{ page.response_message }}");
        //       console.log("{{ page.response_message }}");
        //   });
        function go(e) {
            e.preventDefault();

            var formEl = document.getElementById("contact-form");
            console.log(getFormDataString(formEl));

            var request = new XMLHttpRequest();

            request.addEventListener("load", function () {
                console.log(request.status);
                if (request.status === 200) { // CloudCannon redirects on success
                  $('.form-process').hide();
                  $('#contact-form').find('input[type=text], input[type=email], textarea').val('');
                  $('.contact-form-result').text("{{ page.response_message }}");
                  $('.contact-form-result').show();
                }
            });

            $('.form-process').show();
            request.open(formEl.method, formEl.action);
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send(getFormDataString(formEl));

        }



      </script>
    {% endif %}

    {% if page.url contains 'info' %}
      <script type="text/javascript">
        jQuery(document).ready( function($) {
          var hash = window.location.hash.replace('/', '');
          $('a[href="'+ hash +'"]').click();
        });
      </script>

    {% endif %}

    {% if page.url contains 'hero'%}
      <script type="text/javascript" src="/js/jquery.nivo.js"></script>
      <script type="text/javascript">
        jQuery(document).ready( function($) {
          $('.nivoSlider').nivoSlider({
            effect: 'random',
            slices: 15,
            boxCols: 12,
            boxRows: 6,
            animSpeed: 500,
            pauseTime: 8000,
            directionNav: true,
            controlNav: true,
            pauseOnHover: true,
            prevText: '<i class="icon-angle-left"></i>',
            nextText: '<i class="icon-angle-right"></i>',
            afterLoad: function(){
              $('#slider').find('.nivo-caption').addClass('slider-caption-bg');
            }
          });
        });
      </script>

    {% endif %}

  </body>

</html>
