---
layout: default
---
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="single-post nobottommargin">

        <!-- Single Post
        ============================================= -->
        <div class="entry clearfix">

          <!-- Entry Title
          ============================================= -->
          <!-- <div class="entry&#45;title"> -->
          <!--   <h2>{{ page.title }}</h2> -->
          <!-- </div><!&#45;&#45; .entry&#45;title end &#45;&#45;> -->

          <!-- Entry Meta
          ============================================= -->
          <ul class="entry-meta clearfix">
            <li><i class="icon-calendar3"></i> {{ page.date | date_to_long_string }}</li>
            <li><a href="#"><i class="icon-camera-retro"></i></a></li>
          </ul><!-- .entry-meta end -->

          <!-- Entry Image
          ============================================= -->
          <div class="entry-image bottommargin">
            <a href="#"><img src="{{ page.header_img_path}}" ></a>
          </div><!-- .entry-image end -->

          <!-- Entry Content
          ============================================= -->
          <div class="entry-content notopmargin">
            {{content}}
          </div>

          {% if page.gallery[0].g_img_path != nil %}
            <div class="divider"><i class="icon-circle"></i></div>

            <div class="col_full clearfix">

              <h3>Gallery</h3>

              <div class="masonry-thumbs col-4" data-big="4" data-lightbox="gallery">
                {% for g in page.gallery %}
                  <a href="{{ g.g_img_path }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ g.g_img_thumb_path }}" alt="Gallery Thumb 1"></a>
                {% endfor %}
              </div>

            </div>
          {% endif %}
        </div><!-- .entry end -->

        <!-- Post Navigation
        ============================================= -->
        <div class="post-navigation clearfix">

          {% if page.previous %}
            <div class="col_half nobottommargin">
              <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
            </div>
          {% endif %}

          {% if page.next %}
            <div class="col_half col_last tright nobottommargin">
              <a href="{{ page.nexst.url }}">{{ page.next.title }} &rarr; </a>
            </div>
          {% endif %}

        </div><!-- .post-navigation end -->

        <div class="line"></div>


      </div>

    </div>

  </div>

</section>
