---
layout: default
---

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      {{ content }}


      {% if page.gallery[0].g_img_path != nil %}
        <div class="divider"><i class="icon-circle"></i></div>

        <div class="col_full clearfix">

          <h3>Gallery</h3>

          <div class="masonry-thumbs col-4" data-big="4" data-lightbox="gallery">
            {% for g in page.gallery %}
              <a href="{{ g.g_img_path }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ g.g_img_thumb_path }}" alt="Gallery Thumb 1"></a>
            {% endfor %}
          </div>

        </div>
      {% endif %}
    </div>

  </div>

</section>
